<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omnihand">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import omnihand urdf file -->
    <xacro:include filename="$(find hand_description)/urdf/omnihand_left.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="omnihand.ros2_control.xacro" />


    <xacro:omnihand_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
